<div class="container">
  <h2>User Profile</h2>
  <p>Congratulations! Welcome to secure auth with Angular + Supabase is running. 🎉</p>
  <button class="btn btn-primary" (click)="toggleUserInfo()" [disabled]="loading">
    {{ loading ? "Chargement..." : showInfo ? "Masquer les informations" : "Afficher les informations personnelles" }}
  </button>

  @if (showInfo && user) {
  <div class="user-info">
    <p>User ID: {{ user.id }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Display Name: {{ user.user_metadata.displayName }}</p>
  </div>
  }

  <button class="btn btn-theme" (click)="toggleTheme()">
    <lucide-icon [name]="themeService.darkMode() ? 'sun' : 'moon'" size="20"></lucide-icon>
    {{ themeService.darkMode() ? "Mode Clair" : "Mode Sombre" }}
  </button>

  <button class="btn btn-secondary" (click)="updatePassword()">Modifier le mot de passe</button>

  <button class="btn" (click)="signOut()">Sign Out</button>

  <app-kanban-board></app-kanban-board>
</div>
